<ion-view view-title="Home" hide-nav-bar="true">  
  <ion-content has-header="false">
      <div class="text-content">
          <h1>3D Hebrew Companion</h1>
          <h2>The Ancient Hebrew Alphabet </h2>
          <p><a href="#" onclick="window.open('http://www.rockislandbooks.com/', '_system', 'location=yes');">Rock Island Books</a> presents the <b>3D Hebrew Companion</b> as a quick-reference guide for commonly used words in the Hebrew language in the Old Testament or "Tanakh". The Hebrew language has three overlapping layers that make it unique among all other languages. Chinese has two layers, conventional usage and pictographic. Greek has two layers, conventional and numeric. Only Hebrew has, and has always had, all three: conventional, numeric and pictographic.</p>
          <p><img src="images/wordindex-img.png" class="left">One of the most important ways that God has chosen to reveal Himself is through the precise words contained in Scriptures. Through these words, God predicts His sublime and heroic work of self-disclosure - that He would Himself as the living Word to a fallen world. The ancient prophetic Hebrew Scriptures contain a message so important that the Author embedded it into the very letters that compose the words. And it may surprise you to know that within these very Hebrew letters three languages co-exist, each supporting the other with an architecture that is both sublime and wondrous.</p>
          <p>Much more about this unique language is available in the books written on this subject: <a href="#" onclick="window.open('http://rockislandbooks.com/collections/frontpage?view=list', '_system', 'location=yes');">The Living Word in 3D</a>.</p>
      
          <div class="clear"></div>
          <div style="text-align: center; padding-top: 1em">
            <button class="btn-white" ng-click="btnClick()">
              <img src="images/book-white-icon.png" style="width: 1em"> word index</button>
          </div>
      </div>
  </ion-content>
</ion-view>
